:host {
  width: 25rem;
  height: 35rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: 10px;
  position: absolute;
  right: 1rem;
  bottom: 2rem;
  background-color: var(--bg-textbox);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  animation: onEnter 0.5s ease-in forwards;
}

.header {
  height: 15%;
  background-color: var(--bg-header-chatbot-box-message);
  color: var(--color-header-chatbot-box-message);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 0.25rem 0.5rem;
  position: relative;
}

.header-text {
  font-size: large;
  width: 90%;
  text-align: center;
}

.icon-right {
  position: absolute;
  right: 10px;
  font-size: large;
  cursor: pointer;
  padding: 0.25rem;
  width: 40px;
  height: auto;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-right:hover {
  border: 1px solid white;
  border-radius: 50%;
}

.body {
  height: 75%;
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow: auto;
  row-gap: 1.5rem;
}

/* width */
.body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray-400);
  border-radius: 10px;
}

/* Handle */
.body::-webkit-scrollbar-thumb {
  background: var(--chatbot-scrollbar-color);
  border-radius: 10px;
}

.spinner {
  margin-left: 20px;
  display: flex;
  column-gap: 15px;
  height: 100%;
  align-items: center;
}

.spinner > div {
  width: 12px;
  height: 12px;
  background-color: var(--surface-700);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.7s infinite ease-in-out both;
  animation: sk-bouncedelay 1.47 infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.64s;
  animation-delay: -0.64s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.horizontal-line {
  width: calc(100% - 2rem);
  border-color: var(--bg-header-chatbot-box-message);
  transform: translateY(10px);
}

.chat-container-message {
  display: flex;
  align-items: flex-start;
  column-gap: 10px;
}

.svg-container {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.chatbot-text {
  color: var(--teal-700);
  background-color: white;
  border-radius: 10px;
  border: 1px solid var(--bg-chatbot-icon-container);
  text-align: justify;
  font-size: small;
  font-weight: 500;
  width: calc(100% - 80px);
  margin: 0;
  padding: 0.5rem 0.8rem;
  min-height: 100%;
}

.chat-message {
  background-color: var(--bg-chatbot-icon-container);
  color: var(--color-chatbot-message);
}

.chat-error {
  background-color: var(--red-500) !important;
  color: #fff !important;
}

.user-message {
  background-color: var(--bg-user-icon-container);
  color: var(--color-user-message);
}

.chatbot-icon {
  background-color: var(--bg-chatbot-icon-container);
}

.user-icon {
  padding: 0.3rem;
  border: 2px solid var(--bg-chatbot-icon-container);
  background-color: var(--bg-user-icon-container);
}

.footer {
  height: fit-content;
  display: inline-flex;
  justify-content: space-between;
  padding: 1rem;
}

.send-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--surface-700);
  color: white;
  height: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.send-icon-container:hover {
  border: 1px solid var(--bg-header-chatbot-box-message);
}

.disabled-icon {
  color: white;
  cursor: not-allowed;
  background-color: var(--surface-700);
  opacity: 0.6;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes onEnter {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes onLeave {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@media (max-width: 480px) {
  :host {
    width: 90vw;


  }
}
