<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="mycontainer">
  <div class="spinner" *ngIf="isLoading">
    <div
      *ngIf="isLoading"
      class="spinner-border m-1"
      role="status"
      id="spinner"
    >
      <span class="sr-only"></span>
    </div>
  </div>

  <div class="left" *ngIf="!isLoading">
    <div class="head">
      <div class="navigation-pane">
        <h2 *ngFor="let item of data.adress">
          <p routerLink="/folder/{{ item[1] }}">{{ item[0] }}</p>
          <i class="material-icons">chevron_right</i>
        </h2>
      </div>
      <div class="button-display">
        <button><i class="material-icons" (click)="showList()">menu</i></button>
        <button>
          <i class="material-icons" (click)="showGrid()">grid_view</i>
        </button>
      </div>
    </div>

    <div class="main">
      <div *ngIf="this.show_grid == 'true'" class="grid-display">
        <div
          class="folder"
          *ngFor="let item of data.folders"
          routerLink="/folder/{{ item.id }}"
          #folders
        >
          <span>
            <i class="material-icons">folder</i>
            <h1>{{ item.name }}</h1>
          </span>
          <p-contextMenu
            [target]="folders"
            [model]="contextMenuItemsFolders"
            (click)="handleMenuClick($event, item.id)"
            (onShow)="showContextMenu(item.name, item.id)"
          ></p-contextMenu>
        </div>

        <div
          class="folder"
          *ngFor="let item of data.files"
          (click)="openfile(item.file)"
          #files
        >
          <i class="material-icons folder-i">description</i>
          <h1>{{ item.name }}</h1>
          <p-contextMenu
            [target]="files"
            [model]="contextMenuItemsFiles"
            (click)="handleMenuClick($event, item.id)"
            (onShow)="showContextMenu(item.name, item.id)"
          ></p-contextMenu>
        </div>
      </div>

      <table *ngIf="this.show_grid == 'false'">
        <thead *ngIf="!(data.files.length == 0 && data.folders.length == 0)">
          <tr>
            <th class="icon-cell"></th>
            <th>Name</th>
            <th>created at</th>
            <th>Last modifid</th>
            <th>size</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of data.folders"
            class="table"
            routerLink="/folder/{{ item.id }}"
          >
            <td class="icon-cell"><i class="material-icons">folder</i></td>
            <td>{{ item.name }}</td>
            <td>{{ separateDateTime(item.created_at) }}</td>
            <td>{{ separateDateTime(item.updated_at) }}</td>
            <td>...</td>
            <td>
              <i
                class="material-icons"
                (click)="showContextMenubyleftClickfolders($event)"
                >more_vert</i
              >
            </td>
            <p-contextMenu
              #contextMenufolders
              [model]="contextMenuItemsFolders"
              (click)="handleMenuClick($event, item.id)"
              (onShow)="showContextMenu(item.name, item.id)"
            ></p-contextMenu>
          </tr>

          <tr
            *ngFor="let item of data.files"
            class="table"
            (click)="openfile(item.file)"
          >
            <td class="icon-cell"><i class="material-icons">description</i></td>
            <td>{{ item.name }}</td>
            <td>{{ separateDateTime(item.created_at) }}</td>
            <td>{{ separateDateTime(item.updated_at) }}</td>
            <td>{{ item.size }} Ko</td>
            <td>
              <i
                class="material-icons more"
                (click)="showContextMenubyleftClickfiles($event)"
                >more_vert</i
              >
            </td>
            <p-contextMenu
              #contextMenufiles
              [model]="contextMenuItemsFiles"
              (click)="handleMenuClick($event, item.id)"
              (onShow)="showContextMenu(item.name, item.id)"
            ></p-contextMenu>
          </tr>
        </tbody>
      </table>

      <div class="empty-image">
        <img
          src="/assets/images/empty-folder.png"
          alt="image"
          *ngIf="
            data.files.length == 0 && data.folders.length == 0 && !isLoading
          "
        />
      </div>
    </div>
  </div>
  <div class="right-div">
    <app-navigation-pane
      [items]="this.tree"
      [first]="true"
    ></app-navigation-pane>
  </div>
</div>

<ng-template #renameFolder let-modal>
  <div class="tem">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Rename Folder</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <div class="input-group">
            <input
              type="text"
              id="foldername"
              class="form-control"
              [formControl]="name"
            />
          </div>
        </div>
      </form>
      <p
        style="color: red"
        [ngStyle]="{ display: this.error == '' ? 'none' : 'block' }"
      >
        {{ this.error }}
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('cancel Click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        [disabled]="name.value?.trim() === ''"
        (click)="renamefolder(name.value)"
      >
        Rename
      </button>
    </div>
  </div>
</ng-template>

<ng-template #renameFile let-modal>
  <div class="tem">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Rename File</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <div class="input-group">
            <input
              type="text"
              id="foldername"
              class="form-control"
              [formControl]="name"
            />
          </div>
        </div>
      </form>
      <p
        style="color: red"
        [ngStyle]="{ display: this.error == '' ? 'none' : 'block' }"
      >
        {{ this.error }}
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('cancel Click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        [disabled]="name.value?.trim() === ''"
        (click)="renamefile(name.value)"
      >
        Rename
      </button>
    </div>
  </div>
</ng-template>

<ng-template #movefile let-modal>
  <div class="modal-header">
    <h2>Select a folder</h2>
  </div>

  <div class="tree-container">
    <div class="tree-node" *ngFor="let node of tree_data">
      <div class="node-header">
        <div class="node-left">
          <span
            class="arrow"
            [class.expanded]="isExpanded(node.id)"
            [class.has-content]="hasContent(node)"
            (click)="hasContent(node) && toggleExpand(node.id)"
          >
            <span *ngIf="hasContent(node)">▶</span>
          </span>
          <span class="node-name">{{ node.name }}</span>
        </div>
        <div class="node-right">
          <input
            type="checkbox"
            class="node-checkbox"
            [checked]="isSelected(node.id)"
            (click)="onCheckboxClick(node.id)"
          />
        </div>
      </div>

      <div class="node-content" *ngIf="isExpanded(node.id) && hasContent(node)">
        <div class="child-node" *ngFor="let child of node.content">
          <div class="node-header">
            <div class="node-left">
              <span
                class="arrow"
                [class.expanded]="isExpanded(child.id)"
                [class.has-content]="hasContent(child)"
                (click)="hasContent(child) && toggleExpand(child.id)"
              >
                <span *ngIf="hasContent(child)">▶</span>
              </span>
              <span class="node-name">{{ child.name }}</span>
            </div>
            <div class="node-right">
              <input
                type="checkbox"
                class="node-checkbox"
                [checked]="isSelected(child.id)"
                (click)="onCheckboxClick(child.id)"
              />
            </div>
          </div>

          <!-- Add more nesting levels if needed -->
          <div
            class="node-content"
            *ngIf="isExpanded(child.id) && hasContent(child)"
          >
            <div class="child-node" *ngFor="let grandchild of child.content">
              <div class="node-header">
                <div class="node-left">
                  <span class="arrow">
                    <span *ngIf="hasContent(grandchild)">▶</span>
                  </span>
                  <span class="node-name">{{ grandchild.name }}</span>
                </div>
                <div class="node-right">
                  <input
                    type="checkbox"
                    class="node-checkbox"
                    [checked]="isSelected(grandchild.id)"
                    (click)="onCheckboxClick(grandchild.id)"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.dismiss('cancel Click')"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-outline-dark"
      [disabled]="this.selectedNodeId === null"
      (click)="moveFileToAnotherFolder()"
    >
      move
    </button>
  </div>
</ng-template>
