<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>

<div class="mycontainer">
  <div class="spinner" *ngIf="isLoading">
    <div *ngIf="isLoading" class="spinner-border m-1" role="status" id="spinner">
      <span class="sr-only"></span>
    </div>
  </div>

  <div class="left" *ngIf="!isLoading">
    <div class="head">
      <div class="navigation-pane">
        <h2 *ngFor="let item of data.adress">
          <p routerLink="/folder/{{ item[1] }}">{{ item[0] }}</p>
          <i class="material-icons">chevron_right</i>
        </h2>
      </div>
      <div class="button-display">
        <button><i class="material-icons" (click)="showList()">menu</i></button>
        <button>
          <i class="material-icons" (click)="showGrid()">grid_view</i>
        </button>
      </div>
    </div>

    <div class="main">
      <div *ngIf="this.show_grid == 'true'">
        <div
          class="folder"
          *ngFor="let item of data.folders"
          routerLink="/folder/{{ item.id }}"
          #folders
        >
          <span>
            <i class="material-icons">folder</i>
            <h1>{{ item.name }}</h1>
          </span>
          <p-contextMenu
            [target]="folders"
            [model]="contextMenuItemsFolders"
            (click)="handleMenuClick($event, item.id)"
            (onShow)="showContextMenu(item.name, item.id)"
          ></p-contextMenu>
        </div>

        <div
          class="folder"
          *ngFor="let item of data.files"
          (click)="openfile(item.file)"
          #files
        >
          <i class="material-icons">description</i>
          <h1>{{ item.name }}</h1>
          <p-contextMenu
            [target]="files"
            [model]="contextMenuItemsFiles"
            (click)="handleMenuClick($event, item.id)"
            (onShow)="showContextMenu(item.name, item.id)"
          ></p-contextMenu>
        </div>
      </div>

      <table *ngIf="this.show_grid == 'false'">
        <thead *ngIf="!(data.files.length == 0 && data.folders.length == 0)">
          <tr>
            <th></th>
            <th style="width: 350px">Name</th>
            <th style="width: 150px">created at</th>
            <th style="width: 150px">Last modifid</th>
            <th style="width: 150px">size</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of data.folders"
            class="table"
            routerLink="/folder/{{ item.id }}"
          >
            <td><i class="material-icons">folder</i></td>
            <td>{{ item.name }}</td>
            <td>{{ separateDateTime(item.created_at) }}</td>
            <td>{{ separateDateTime(item.updated_at) }}</td>
            <td>...</td>
            <td>
              <i
                class="material-icons"
                (click)="showContextMenubyleftClickfolders($event)"
                >more_vert</i
              >
            </td>
            <p-contextMenu
              #contextMenufolders
              [model]="contextMenuItemsFolders"
              (click)="handleMenuClick($event, item.id)"
              (onShow)="showContextMenu(item.name, item.id)"
            ></p-contextMenu>
          </tr>

          <tr
            *ngFor="let item of data.files"
            class="table"
            (click)="openfile(item.file)"
          >
            <td><i class="material-icons">description</i></td>
            <td>{{ item.name }}</td>
            <td>{{ separateDateTime(item.created_at) }}</td>
            <td>{{ separateDateTime(item.updated_at) }}</td>
            <td>{{ item.size }} Ko</td>
            <td>
              <i
                class="material-icons more"
                (click)="showContextMenubyleftClickfiles($event)"
                >more_vert</i
              >
            </td>
            <p-contextMenu
              #contextMenufiles
              [model]="contextMenuItemsFiles"
              (click)="handleMenuClick($event, item.id)"
              (onShow)="showContextMenu(item.name, item.id)"
            ></p-contextMenu>
          </tr>
        </tbody>
      </table>
      <div class="empty-image">
        <img
          src="/assets/images/empty-folder.png"
          alt="image"
          *ngIf="
            data.files.length == 0 && data.folders.length == 0 && !isLoading
          "
        />
      </div>
    </div>
  </div>
  <div class="right-div">
    <app-navigation-pane
      [items]="this.tree"
      [first]="true"
    ></app-navigation-pane>
  </div>
</div>

<ng-template #renameFolder let-modal>
  <div class="tem">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Rename Folder</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <div class="input-group">
            <input
              type="text"
              id="foldername"
              class="form-control"
              [formControl]="name"
            />
          </div>
        </div>
      </form>
      <p
        style="color: red"
        [ngStyle]="{ display: this.error == '' ? 'none' : 'block' }"
      >
        {{ this.error }}
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('cancel Click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        [disabled]="name.value?.trim() === ''"
        (click)="renamefolder(name.value)"
      >
        Rename
      </button>
    </div>
  </div>
</ng-template>

<ng-template #renameFile let-modal>
  <div class="tem">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Rename File</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <div class="input-group">
            <input
              type="text"
              id="foldername"
              class="form-control"
              [formControl]="name"
            />
          </div>
        </div>
      </form>
      <p
        style="color: red"
        [ngStyle]="{ display: this.error == '' ? 'none' : 'block' }"
      >
        {{ this.error }}
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('cancel Click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        [disabled]="name.value?.trim() === ''"
        (click)="renamefile(name.value)"
      >
        Rename
      </button>
    </div>
  </div>
</ng-template>
