<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<h2>Trash</h2>
<button
  class="btn btn-primary"
  type="button"
  [disabled]="isLoadingButton"
  (click)="handleClick()"
>
  <span *ngIf="!isLoadingButton">{{ buttonText }}</span>
  <span
    class="spinner-border spinner-border-sm"
    role="status"
    aria-hidden="true"
    *ngIf="isLoadingButton"
  ></span>
  <span class="sr-only" *ngIf="isLoadingButton">Loading...</span>
</button>

<h4>
  All the folders and files will be deleted one day after being moved to the
  trash.
</h4>
<div class="main">
  <div class="spinner" *ngIf="isLoading">
    <div
      *ngIf="isLoading"
      class="spinner-border m-1"
      role="status"
      id="spinner"
    >
      <span class="sr-only"></span>
    </div>
  </div>
  <table *ngIf="!isLoading">
    <thead *ngIf="!dataempty">
      <tr>
        <th></th>
        <th style="width: 350px">Name</th>
        <th style="width: 150px">created at</th>
        <th style="width: 150px">Last modifid</th>
        <th style="width: 150px">size</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of data[0]" class="table">
        <td><i class="material-icons">folder</i></td>
        <td>{{ item.name }}</td>
        <td>{{ separateDateTime(item.created_at) }}</td>
        <td>{{ separateDateTime(item.updated_at) }}</td>
        <td>...</td>
        <td>
          <i class="material-icons restore" (click)="restorefolder(item.id)"
            >restore_from_trash</i
          >
        </td>
      </tr>

      <tr *ngFor="let item of data[1]" class="table">
        <td><i class="material-icons">description</i></td>
        <td>{{ item.name }}</td>
        <td>{{ separateDateTime(item.created_at) }}</td>
        <td>{{ separateDateTime(item.updated_at) }}</td>
        <td>{{ item.size }} Ko</td>
        <td>
          <i class="material-icons restore" (click)="restorefile(item.id)"
            >restore_from_trash</i
          >
        </td>
      </tr>
    </tbody>
  </table>
  <div class="empty-image">
    <img
      src="/assets/images/trash-empty.png"
      alt="image"
      *ngIf="dataempty && !isLoading"
    />
  </div>
</div>
