
h2 {
  margin-bottom: 5vb;
}
.table:nth-child(even) {
  background-color: #f2f2f2;
}
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:75vb;
}
.table {
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

}

.table:hover {
  background-color: #edf1fa;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px){

  table{
    overflow-y: scroll;
    display: block;
  }
  img {
    opacity: 0.2;
    height: 300px;
  }

}
