h2 {
  margin-bottom: 50px;
}
.table:nth-child(even) {
  background-color: #f2f2f2;
}

.table {
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;

}

.table:hover {
  background-color: #edf1fa;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
