h2 {
  margin-bottom: 50px;
}

.empty-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

img {
  opacity: 0.2;
  height: 500px;
}

.spinner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
}
