/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";


:root {
  --bg-header-chatbot-box-message: #fd751e;
  --bg-chatbot-icon-container: #fd751e;
  --chatbot-scrollbar-color: #ed935f;
  --color-header-chatbot-box-message: white;
  --bg-textbox: white;
  --color-user-message: black;
  --color-chatbot-message: white;
  --bg-user-icon-container: white;
}
