<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet"
/>
<div class="main">
  <div class="row header">
    <!-- header.component.html -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <!-- Logo on the left -->
        <a class="navbar-brand">
          <div class="logo">
            <i
              class="material-icons menu-icon"
              data-bs-toggle="modal"
              data-bs-target="#leftModal"
              >menu</i
            >

            <h1>FILEBOT</h1>
          </div>
        </a>

        <!-- Centered search bar -->
        <form
          id="search-form"
          class="d-flex mx-auto w-50"
          (ngSubmit)="submit($event)"
        >
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              placeholder="Search"
              [formControl]="search_name"
            />
            <button type="submit" class="btn btn-outline-secondary">
              <i class="material-icons">search</i>
            </button>
          </div>
        </form>

        <!-- Button on the right -->
        <button class="btn btn-outline-danger ms-auto" type="button" (click)="logout()">
          Logout
        </button>
      </div>
    </nav>
  </div>
  <div class="row body">
    <div class="col-sm-2 sidebar">
      <div ngbDropdown class="d-inline-block">
        <button class="add-buttom" id="dropdownBasic1" ngbDropdownToggle>
          <i class="material-icons sidebar-icon">add</i>
          New
        </button>
        <div
          ngbDropdownMenu
          aria-labelledby="dropdownBasic1"
          style="width: 200px"
          class="drop-down"
        >
          <button
            ngbDropdownItem
            (click)="open(content)"
            class="drop-down-buttom"
          >
            <i class="material-icons">create_new_folder</i>New Folder
          </button>
          <button ngbDropdownItem class="drop-down-button">
            <label for="fileUpload">
              <i class="material-icons">upload_file</i>
              New File
            </label>
            <input
              type="file"
              id="fileUpload"
              style="display: none"
              (change)="onFileChange($event)"
            />
          </button>
        </div>
      </div>
      <button class="main-buttoms" routerLink="./mydrive">
        <i class="material-icons sidebar-icon">storage</i>
        My drive
      </button>
      <button class="main-buttoms" routerLink="./favorite">
        <i class="material-icons sidebar-icon">favorite</i>
        Favorite
      </button>
      <button class="main-buttoms" routerLink="./recent">
        <i class="material-icons sidebar-icon">schedule</i>
        Recent
      </button>
      <button class="main-buttoms" routerLink="./trash">
        <i class="material-icons sidebar-icon">delete</i>
        Trash
      </button>
      <button class="main-buttoms" routerLink="./storage">
        <i class="material-icons sidebar-icon">cloud</i>
        Storage
      </button>
      <ngb-progressbar class="mb-3" type="dark" [value]="this.size" />
    </div>
    <div class="col-sm-10 main-content">
      <router-outlet *ngIf="showChild"></router-outlet>
    </div>
    <div
      class="fixed-bottom end-0 p-3"
      style="
        background-color: #f0f0f0;
        border: 1px solid #ddd;
        z-index: 10;
        display: none;
      "
      id="myDiv"
    >
      <div class="d-flex align-items-center">
        <button
          type="button"
          class="btn-close ms-auto"
          (click)="closeWindow()"
        ></button>
      </div>
      <div class="file-upload">
        <div class="spinner-border m-1" role="status" id="spinner">
          <span class="sr-only"></span>
        </div>
        <div id="loading-message">
          <p>file Upload...</p>
        </div>
        <div id="successfull-message" style="color: green; display: none">
          <p>successfull</p>
        </div>
        <div id="error-message" style="color: red; display: none">
          <p>error, try later</p>
        </div>
        <div id="error-name-message" style="color: red; display: none">
          <p>{{ erroMessage }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-modal>
  <div class="tem">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Folder</h4>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <div class="input-group">
            <input
              type="text"
              id="foldername"
              class="form-control"
              [formControl]="name"
            />
          </div>
        </div>
      </form>
      <p
        style="color: red"
        [ngStyle]="{ display: this.error == '' ? 'none' : 'block' }"
      >
        {{ this.error }}
      </p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="modal.dismiss('cancel Click')"
      >
        Cancel
      </button>
      <button
        type="button"
        class="btn btn-outline-dark"
        (click)="createFolder(name.value)"
        [disabled]="name.value?.trim() === ''"
      >
        Create
      </button>
    </div>
  </div>
</ng-template>

<div
  class="modal fade"
  id="leftModal"
  aria-labelledby="leftModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-left">
    <div class="modal-content full-height">
      <div *ngIf="isSideMenuVisible" class="col-sm-2 responsive-sidebar">
        <div ngbDropdown class="d-inline-block">
          <button class="add-buttom" id="dropdownBasic1" ngbDropdownToggle>
            <i class="material-icons sidebar-icon">add</i>
            New
          </button>
          <div
            ngbDropdownMenu
            aria-labelledby="dropdownBasic1"
            style="width: 200px"
            class="drop-down"
          >
            <button
              ngbDropdownItem
              (click)="open(content)"
              class="drop-down-buttom"
            >
              <i class="material-icons">create_new_folder</i>New Folder
            </button>
            <button ngbDropdownItem class="drop-down-button">
              <label for="fileUpload">
                <i class="material-icons">upload_file</i>
                New File
              </label>
              <input
                type="file"
                id="fileUpload"
                style="display: none"
                (change)="onFileChange($event)"
              />
            </button>
          </div>
        </div>
        <button class="main-buttoms" routerLink="./mydrive">
          <i class="material-icons sidebar-icon">storage</i>
          My drive
        </button>
        <button class="main-buttoms" routerLink="./favorite">
          <i class="material-icons sidebar-icon">favorite</i>
          Favorite
        </button>
        <button class="main-buttoms" routerLink="./recent">
          <i class="material-icons sidebar-icon">schedule</i>
          Recent
        </button>
        <button class="main-buttoms" routerLink="./trash">
          <i class="material-icons sidebar-icon">delete</i>
          Trash
        </button>
        <button class="main-buttoms" routerLink="./storage">
          <i class="material-icons sidebar-icon">cloud</i>
          Storage
        </button>
      </div>
    </div>
  </div>
</div>
